/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body {
    font-family: Arial, sans-serif;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg,
            #020617,
            #0f172a,
            #1e293b);

    color: white;
}

/* CALCULATOR CARD */

.calculator {
    background: rgba(30, 41, 59, 0.85);

    padding: 25px;

    border-radius: 18px;

    backdrop-filter: blur(10px);

    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.6);

    width: 280px;

    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* TITLE */

.calculator h2 {
    text-align: center;
    margin-bottom: 15px;
}

/* DISPLAY */

#display {
    width: 100%;

    height: 50px;

    margin-bottom: 15px;

    border-radius: 10px;

    border: none;

    font-size: 22px;

    padding: 10px;

    text-align: right;

    background: #020617;

    color: #38bdf8;
}

/* BUTTON GRID */

.buttons {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;
}

/* BUTTON */

button {
    padding: 15px;

    font-size: 16px;

    border: none;

    border-radius: 10px;

    background: #334155;

    color: white;

    cursor: pointer;

    transition: all 0.2s ease;
}

/* HOVER EFFECT */

button:hover {
    background: #475569;

    transform: scale(1.05);
}

/* ACTIVE CLICK */

button:active {
    transform: scale(0.95);
}

/* OPERATOR BUTTON */

button.operator {
    background: #38bdf8;
    color: black;
}

button.operator:hover {
    background: #0ea5e9;
}

/* CLEAR BUTTON */

button.clear {
    background: #ef4444;
}

button.clear:hover {
    background: #dc2626;
}

/* EQUAL BUTTON */

button.equal {
    background: #22c55e;
}

button.equal:hover {
    background: #16a34a;
}

/* THEME BUTTON */

.theme-btn {
    position: absolute;
    top: 20px;
    right: 20px;

    padding: 10px 14px;

    border: none;

    border-radius: 8px;

    background: #38bdf8;

    cursor: pointer;
}

/* LIGHT MODE */

body.light-mode {

    background:
        linear-gradient(
            135deg,
            #f1f5f9,
            #e2e8f0
        );

    color: black;

}

body.light-mode .calculator {

    background: white;

}

body.light-mode button {

    background: #e2e8f0;

    color: black;

}

/* HISTORY PANEL */

.history {

    position: absolute;

    left: 20px;

    top: 50%;

    transform: translateY(-50%);

    background: #1e293b;

    padding: 15px;

    border-radius: 12px;

    width: 200px;

    max-height: 300px;

    overflow-y: auto;

}

.history h3 {

    margin-bottom: 10px;

}

.history li {

    margin-bottom: 6px;

    font-size: 14px;

}